ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.box{
    margin-left:16%;
    margin-right: 1%;
}
li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


nav.bg-light {
    background-color: transparent !important;
}

footer {
    position: absolute;
    padding: 10px 10px 0px 10px;
    bottom: 5;
    width: 100%;
    /* Height of the footer*/ 
    height: 80px;
    background: rgb(48, 46, 46);
}
.card-img-top{
  
    
    height: fit-content;
   
}
.card{
    background-color: rgb(70, 61, 61);

    width:140px;
    height:max-content;
    
}
.card-text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap ;
    color:white 
    ;
    
    
}
h6,h5,h4{
    color: white;
}



 


