body{
    color:rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.box{
    margin-left:16%;
    margin-right: 1%;
}
li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

nav.bg-light {
    background-color: transparent !important;
}

/* STYLE OF GREETINGS SECTION */

.box .container .card-deck .card .row .imgbox img {
    height: 60px;
    width: auto;
    background-size: contain;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.box .container .card-deck .card .row .col-md-9 .card-body p {
    font-weight: bold;
    font-size: smaller;
    vertical-align: middle;
}

.box .container .card-deck .card {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}